.calender {
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    overflow: auto;
    border-collapse: collapse;
}
.calender_date {
    flex-direction: row-reverse;
    border: 1px solid black;
    height: 30px;
    width: 100dvi;
    background-color: var(--Calender-header-background);
}
.calender_task {
    border: 1px solid black;
    height: 160px;
    background-color: var(--Calender-body-background);
    width: 100dvi;
}
.ListDisplay {
    display: flex;
}
.ListHeadline {
    flex-direction: row-reverse;
    border: 1px solid black;
    height: 30px;
    width: 100dvi;
    background-color: var(--Calender-header-background);
}


.TaskList {
    border: 2px solid black;
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: auto;
    background-color: var(--Calender-body-background);
}
.UserList {
    border: 2px solid black;
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: auto;
    background-color: var(--Calender-body-background);
}
.PrizeList {
    border: 2px solid black;
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: auto;
    background-color: var(--Calender-body-background);
}
.PointListHeadline {
    flex-direction: row-reverse;
    border: 1px solid black;
    height: 30px;
    width: 100px;
    background-color: var(--Calender-header-background);
}
.Pointlists {
    border: 1px solid black;
    overflow: auto;
    width: 100px;
    background-color: var(--Calender-body-background);
}
.lists {
    border: 1px solid black;
    overflow: auto;
    width: 1000dvi;
    background-color: var(--Calender-body-background);
}
.NewTaskList {
    border: 2px solid #008CBA;
    border-radius: 5px;
    text-align: left;
    overflow: auto;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: var(--Calender-body-background);
}
.MainCalenderFlexWithButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.MainCalender {
    display: flex;
    flex-wrap: wrap;
  }
  
    .MainCalender > div {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        min-width: 800px;
        justify-content: center;
        align-items: center;
    }
    .MainCalenderDays {
        text-align: center;
        width: 100px;
        height: 20px;
        color: var(--MainCalenderDaysColor);
        background-color: var(--MainCalenderDaysBackground);
        border: var(--MainCalenderSquareborder);
    }
    .MainCalenderSquares {
        width: 100px;
        height: 100px;
        background-color: var(--MainCalenderSquareNormal);
        border: var(--MainCalenderSquareborder);
    }
    .MainCalenderSquares:hover {
        background-color: var(--MainCalenderSquareHover);
    }
    .MainCalenderSquares:active {
        background-color: var(--MainCalenderSquareClicked);
    }
.otherMonth {
    color: var(--OtherMonthColor);
    background-color: var(--OtherMonthBackgroundColor);
}
.calenderWeekendOtherMonth {
    color: var(--WeekendOtherMonthColor);
    background-color: var(--WeekendOtherMonthBackgroundColor);
}
.calenderWeekend {
    background-color: var(--Weekend);
}
.calenderCurrentDay {
    background-color: var(--CurrentDay);
}

@media only screen and (max-width: 406px) {
    .calender {
        display: flex;
        border: 2px solid black;
        width: 150%;
        height: 200px;
        border-collapse: collapse;
    }
}