.Screen {
    width: 100%;
    height: 100%;
}
.logoutButton {
    width: auto;
    position: absolute;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition-duration: 0.1s;
    height: 30px;
}
.logoutButton:hover {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.MainButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Button {    
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition-duration: 0.1s;
    height: 30px;
    width: 35%;
}
.Button:hover {
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.Button:active {
    background-color: #008CBA;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }
.center {
    text-align: center;
}
.calender {
    display: flex;
    border: 2px solid black;
    background-color: rgb(255, 234, 209);
    width: 100%;
    height: 200px;
    border-radius: 4px;
    border-collapse: collapse;
    color: black;
}
.calender_date {
    flex-direction: row-reverse;
    border: 1px solid black;
    background-color: rgb(255, 223, 176);
    height: 30px;
    width: 100dvi;
}
.calender_task {
    border: 1px solid black;
    height: 160px;
    width: 100dvi;
}
.FamilyGoalMain {
    text-align: center;
    background-color: rgb(255, 196, 0);
    border-radius: 4px;
    border: 2px solid black;
    color: black;
}
.ListDisplay {
    display: flex;
    color: black;
}
.ListHeadline {
    flex-direction: row-reverse;
    border: 1px solid black;
    background-color: rgb(255, 223, 176);
    height: 30px;
    width: 100dvi;
}
.TaskList {
    border: 2px solid black;
    background-color: rgb(255, 207, 162);
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    border-radius: 4px;
}
.UserList {
    border: 2px solid black;
    background-color: rgb(255, 207, 162);
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    border-radius: 4px;
}
.PrizeList {
    border: 2px solid black;
    background-color: rgb(255, 207, 162);
    width: 100%;
    height: 200px;
    border-collapse: collapse;
    border-radius: 4px;
}
.lists {
    border: 1px solid black;
    width: 1000dvi;
}
.UserLogin {
    text-align: center;
    margin-top: 10%;
}
:root {
    --background-color: white; 
    --text-color: black; 
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .dark-mode {
    --background-color: black; 
    --text-color: white; 
  }






@media only screen and (max-width: 406px) {
    .CornerButton {
        position: absolute;
    }
    .logoutButton {
        position: relative;
    }
    .calender {
        display: flex;
        border: 2px solid black;
        background-color: rgb(255, 234, 209);
        width: 150%;
        height: 200px;
        border-collapse: collapse;
    }
  }